<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Event schedule</h1>

  <table>
    
    <% @schedule.each do |row| %>
      <tr>
      <% row.each do |item| %>
        <td><%= item %></td>
      <% end %>
      </tr>
    <% end %>

<!-- etc. etc. -->
  </table>

</body>
</html>